@import "../../styles/variables/variables";

section {
  background-image: url(../../assets/images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 34.875rem;

  display: flex !important;
  align-items: center !important;

  .text {
    max-width: 29.125rem;

    span {
      font-size: 1.5rem;
      font-weight: weight("bold");
      color: var(--orange-300);

      margin-bottom: 0.75rem;
    }

    h1 {
      font-size: 3rem;
      font-weight: weight("bold");
      color: var(--white);

      margin-bottom: 1.75rem;
    }

    button {
      width: 261px;
      height: 54px;

      border: none;
      border-radius: 4px;
      background: var(--red-700);
      color: var(--white);
      cursor: pointer;

      font-weight: weight("bold");

      transition: 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
