@import "../../styles/variables/variables";

.about_us {
  padding-bottom: 6.25rem;

  header {
    border: none;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .text {
      max-width: 450px;

      h2 {
        font-size: 2.25rem;
        font-weight: weight("bold");

        color: var(--dark-900);

        margin-bottom: 0.875rem;
      }

      p {
        color: var(--dark-900);
      }
    }

    span {
      display: inline-flex;
      align-items: center;

      font-weight: weight("bold");
      font-size: 1.125rem;
      color: var(--red-700);
      cursor: pointer;

      transition: 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }
  }

  .about-desc {
    margin-top: 3.625rem;

    img {
      width: 100%;
      height: 540px;
    }
  }
}
